src/*.exe
src/morphcoin
src/morphcoind
src/test_morphcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.morphcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
morphcoin-qt
Morphcoin-Qt.app

# Unit-tests
Makefile.test
morphcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
